/*----FONT---*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*----COLORES---*/

:root{
    --color-primary: #121212;
    --color-secondary: #ffffff;
    --bg-nav: #000000;
    --bg-input: #2a2a2a;
    --color-text-secondary: #b3b3b3;
    --color-text-primary: #ffffff;
    --color-hover: #f0f0f0; 
    --color-hover-text: #2b2b2b;
    --font-family: 'Montserrat', sans-serif;
    --color-accent: #1DB954;
}


/*----RESET----*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*---ESTILOS GLOBALES---*/

body{
    font-family: var(--font-family);
}


/*---ESTILOS NAV---*/

nav{
    display: flex;
    align-items: center;
    background-color: var(--bg-nav);
    padding: 0.85rem 1.5rem;
    gap: 1rem;
}

.logo{
    width: 50px;
    height: 50px;
    display: flex;
    color: var(--color-secondary);
}

.btn-home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--bg-input);
    color: var(--color-text-secondary);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-home:hover{
    color: var(--color-secondary);
}

.search-container{
    width: 30%;
    max-width: 400px;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    gap: 0.75rem;
    padding: 0.6rem 1.2rem;
    background-color: var(--bg-input);
    border-radius: 3rem;
}

.search-container input{
    max-width: 300px;
    flex-wrap: nowrap;
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5rem 0;
}

.search-container input::placeholder{
    font-family: var(--font-family);
    font-size: 0.85rem;
    border-right: 1px solid var(--color-text-secondary);
    color: var(--color-text-secondary);
}

.search-container button{
    border: none;
    background: none;
    color: var(--color-text-secondary);
}

.btn-explore{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container{
    display: flex;
    margin-left: auto;
    gap: 1rem;
}

.nav-container ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
    list-style: none;
    border-right: 1px solid var(--color-text-secondary);
}

.nav-container ul li a{
    display: inline-block;
    text-decoration: none;
    color: var(--color-text-secondary);
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-container ul li a:hover{
    color: var(--color-secondary);
    transform: scale(1.1);
}

.btn-login{
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 0.85rem 2rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-app, 
.btn-register{
    background: none;
    border: none;
    color: var(--color-text-secondary);
    font-weight: bold;
    font-size: 0.85rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-app:hover, 
.btn-register:hover{
    color: var(--color-text-primary);
}

.btn-app{
    display: flex;
    align-items: center;
    gap: 0.50rem;
}

.btn-app svg{
    width: 30px;
}

.hamburguer-menu{
    display: none;
}